<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Log-in</title>
</head>
<body>
    <div class="mt-5 container">
        <h2>Log-in</h2>

        <form method="post" action="/loginhandler" name="loginForm">
            <input class="form-control" type="text" placeholder="Enter login" autocomplete="off" name="login"><br>
            <input class="form-control" type="password" placeholder="Enter password" autocomplete="off" name="pass"><br>
            <button type="submit" id="submit" class="btn btn-primary">Login</button>
            <a href="register.html">Still no account? Click here!</a>
        </form>
    </div>
</body>
</html>