<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Info</title>
</head>
<body>
    <div class="mt-5 container">
        <h2>Information</h2>
        <ol type="1">
            <li>Messages updating every 5 seconds</li>
            <li>The higher message in order - the newer it is</li>
            <li>Respect server and database</li>
        </ol>
    </div>
</body>
</html>