<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Registration</title>
    </head>
    <body>
        <div class="mt-5 container">
            <h2>Registration</h2>
            
            <form method="post" action="/registerhandling">
                <input class="form-control" type="text" placeholder="Enter login" autocomplete="off" name="login"><br>
                <input class="form-control" type="password" placeholder="Enter password" autocomplete="off" name="pass"><br>
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="index.html">Already have an account? Click here!</a>
            </form>
        </div>
    </body>
</html>